body {
    background-color: rgba(158, 95, 53, 0.842);
    background-image: url(planché.png);
    border: 0px;
}

#barreR{
    position: fixed;
    background-color: rgb(187, 147, 95);
    width: 100%;
    text-align: left;
    height: auto;  
    padding: 54px;
    border: none;
    margin: 0px;
    top: 0;
    left: 0;

}

#buttonM {
    padding: 50px;
    text-decoration : none;
    background-image: url(sans\ le\ fond_AcaDDanse.png);
    border: none;
    margin: 0px;
    color: black;
    width: 50;
    color: rgba(240, 255, 255, 0);
    

}

#logo{
    width: 30px;
    height: 28px;
    margin: 0px;
    border: none;
}
.txt{
    background-color: blanchedalmond;
    width: 70%;
    height: auto;
    margin-top: 200px;
    margin-left: 260px;
    border: initial;
    font-size: 40px;
   
}

#p{
    margin: 20px;
    width: 70%;
    position: unset;
    float: left;
    padding: 0px;
}

h1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 30px;
    color: rgb(129, 29, 35);
    
}

#button1 {
    padding: 47px;
    text-decoration : none;
    background-image: url(vcgb.png);
    border: none;
    color: black;
    width: 50;
    color: rgba(240, 255, 255, 0);
    margin-left: 20px;
    height: 100%;

    

}

#button3 {
    padding: 40px;
    text-decoration : none;
    background-image: url(cabaret.png);
    border: none;
    color: black;
    width: 50;
    color: rgba(240, 255, 255, 0);
    margin-left: 20px;
    height: 100%;

    

}

#button4 {
    padding: 90px;
    text-decoration : none;
    background-image: url(moderndanse.png);
    border: none;
    color: black;
    width: 40;
    color: rgba(240, 255, 255, 0);
    margin-left: 20px;
    height: 100%;

    

}

#button2 {
    padding: 37px;
    text-decoration : none;
    background-image: url(cicl.png);
    border: none;
    color: black;
    width: 50;
    color: rgba(240, 255, 255, 0);
    margin-left: 20px;
    height: 100%;

    

}



#button5 {
    padding: 47px;
    text-decoration : none;
    background-image: url(vcgb-1.png);
    border: none;
    color: black;
    width: 50;
    color: rgba(240, 255, 255, 0);
    margin-left: 20px;
    height: 100%;

    



}

#footer{
    bottom: 0px;
    left: 0px;
    background-color:  rgb(187, 147, 95);;
    width: 100%;
    height: 150px;
    margin: 0px;
    border: none;
    padding: 0px;
    margin-bottom: 0px;
    background-position-x: 0cm;
}

#liste{
    list-style: none;
    margin-top: 40px;
    padding-top: 40px;
    position: relative;
    text-align: center;
}

#h2{
    text-align: center;
}

#pl{
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-bottom: 200px;
    margin-top: 25px;
    position: unset;



}

#p2{
    margin-left: 20px;
    margin-top: 0px;
    width: 80%;
    position: unset;
}

#pp{
    width: 50%;
}

#pa{
    width: 50%;
    border-right: black;
    border-right: 2px;
}

#ps{
    width: 90%;
    margin-left:50px ;
    font-size: 30px;
    text-align: center;
    position: flex;
    display: block;
    

}

#pz{
    text-align: center;

}

#lc {
    text-align: center;
    list-style: inside;

}

#h3{
    text-align: center;
    margin-bottom: 100px;
}

#pz2{
    text-align: center;
    
}

#zm{
    font-size: 35px;
    color: black;
}

#vod{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p1{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
#p2{
    width: 45%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p3{
   width: 50%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto; 
}

#p4{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#forum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}


#vodz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

#pc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#zp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    wihth: 50%;
    height: auto;
}
