body {
    background-color: rgba(158, 95, 53, 0.842);
    background-image: url(planché.png);
    border: none;

}

#barreR{
    position: fixed;
    background-color: rgb(187, 147, 95);
    width: 100%;
    height: 14%;
    float: left;
    top: 0;
    text-align: center;

}

#buttonM {
    transition-duration: 0.4s;
    height: 100%;
    width: 15%;
    text-decoration : none;
    color: black;
    border: none;
    display: inline-block; 
    color: rgba(240, 255, 255, 0);

}

#buttonM :hover {
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}


#logo{
    width: 30px;
    height: 28px;
    margin: 0px;
    border: none;
}
.txt{
    background-color: blanchedalmond;
    width: 70%;
    height: auto;
    border: initial;
    position: center;
    font-size: 40px;
    display: block;
    margin-left: 15%;
   
}

#p{
    margin: 20px;
    width: 70%;
    position: unset;
    float: left;
    padding: 0px;
}

h1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 30px;
    color: rgb(129, 29, 35);
    
}

#button1 {

    height: 100%;
    display: inline-block; 
    background-size: contain;
    background-repeat: no-repeat;

    text-decoration : none;
    border: none;
    color: black;
    width: 12,5%;
}

#button1 :hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}





#button3 {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; 
    text-decoration : none;
    border: none;
    color: black;
    width: 12,5%;
    color: rgba(240, 255, 255, 0);
    height: 100%;


    

}
#button3:hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}

#button4 {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    display: inline-block; 
    text-decoration : none;
    border: none;
    color: black;
    width: 12,5%;
    color: rgba(240, 255, 255, 0);



    

}
#button4 :hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}

#button2 {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; 
    text-decoration : none;
    border: none;
    color: black;
    width:12,5%;
    height: 100%;
    color: rgba(240, 255, 255, 0);
}
#button2 :hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}




#button5 {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; 
    text-decoration : none;
    border: none;
    color: black;
    width: 12,5%;
    color: rgba(240, 255, 255, 0);
    height: 100%;
}
#button5 :hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}

#button6{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; 
    text-decoration : none;
    border: none;
    color: black;
    color: rgba(240, 255, 255, 0);
    height: 100%;
}  #button6 :hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}

#button7{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; 
    text-decoration : none;
    border: none;
    color: black;
    color: rgba(240, 255, 255, 0);
    height: 100%;
}  #button7 :hover{
    background-color: rgb(154, 122, 79);
    transition-duration: 0.4s;
}

#footer{
    bottom: 0px;
    left: 0px;
    background-color:  rgb(187, 147, 95);;
    width: 100%;
    height: 150px;
    margin: 0px;
    border: none;
    padding: 0px;
    margin-bottom: 0px;
    background-position-x: 0cm;
}

#liste{
    list-style: none;
    margin-top: 40px;
    padding-top: 40px;
    position: relative;
    text-align: center;
}

#h2{
    text-align: center;
}

#pl{
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-bottom: 200px;
    margin-top: 25px;
    position: unset;



}

#p2{
    margin-left: 20px;
    margin-top: 0px;
    width: 80%;
    position: unset;
}

#pp{
    width: 50%;
}

#pa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#ps{
    width: 90%;
    margin-left:50px ;
    font-size: 30px;
    text-align: center;
    position: flex;
    display: block;
    

}

#pz{
    text-align: center;

}

#lc {
    text-align: center;
    list-style: inside;

}

#h3{
    text-align: center;
    margin-bottom: 100px;
}

#pz2{
    text-align: center;
    
}

#zm{
    font-size: 35px;
    color: black;
}

#vod{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p1{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
#p2{
    width: 45%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p3{
   width: 50%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto; 
}

#p4{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#forum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}


#vodz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

#pc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#zp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#ar{
    width: 70%;
    position: unset;
    margin-left: 15%;
    margin-right: 15%;
}

#vod_kpop{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

#h4_kpop{
    text-align: center;
}

#Actus{
    color: rgb(129, 29, 35);
    text-align: center;
}

#h2_k{
    text-align: center;
}

.BuIm1{
    width: 100%;
    height: 100%;
}

.BuIm4{
    width: 100%;
    height: 100%;
}

#Pdel{
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 

}
